body {
    background-color:rgb(138, 240, 167)
}

a {
    color: blue
}

* {
    font-family: 'Risque', cursive;
}

ul {
     
    list-style-image: url("livro.png")
}

.grid-container {
    display: grid;
    grid-template-columns: 190px 260px 190px 260px 190px 260px ;
    grid-column-gap: 10px;
    grid-template-rows: 300px 300px;
    grid-row-gap: 10px;

    background-color:darkgreen;
    width: 98vw;
    height: 100vh;
    
    justify-content: left;
    align-items: left;
    font-size: 18px;
}

.center {
    margin-left:auto;
    display:block;
    margin-right:auto;
}
